<div class="container">

  <!--Top content-->
  <div class="top-flex">
    <div class="on-sale">
      <div class="on-sale-container" *ngIf="isOnSale">
        <div class="point"></div>
        <span>ON SALE</span>
      </div>
      <button class="stock" disabled>In stock</button>
    </div>

    <div class="amount-container">
      <input class="amount" type="number" name="amount" id="amount" min="1" (keydown)="avoidDecimals($event)" [value]="amount">

      <div class="arrows-container" (mouseenter)="hoverUnhover()" (mouseleave)="hoverUnhover()">
        <div class="arrow-up" [style.display]="showArrows? 'block':'none'" (click)="upAmount()" [style.margin-bottom]="'5px'"></div>

        <div class="arrow-down" [style.display]="showArrows? 'block':'none'" (click)="lowerAmount()"></div>
      </div>
    </div>

  </div>

  <!--Main Content-->

    <!--Icon-->
  <img class="product-icon" [src]="productIcon" alt="product.png">

  <div class="name-game-row">
    <!--Name-->
    <span class="product-name">{{productName}}</span>

    <!--Game-->
    <img class="game-icon" [src]="gameIcon" alt="game.svg">
  </div>
    <!--Price-->
  <div class="price-row">
    <span class="price">{{(isOnSale? salePrice:price) | currency:'USD'}}</span>

    <span class="old-price" *ngIf="isOnSale">{{price | currency:'USD'}}</span>
  </div>

    <!--Description-->
  <div class="description">
    {{shortenDesc()}}
  </div>

    <!--Buttons-->
  <div class="button-row">
    <button class="details">DETAILS</button>

    <button class="add">
      <span>
        ADD
      </span>
      <div class="cart-container">
        <img src="../../../assets/cartchicksgold.svg" alt="cart.svg">
      </div>
    </button>
  </div>

</div>


