.container {
  width: 60%;
  min-height: 100vh;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;


  .title {
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    font-weight: 700;
    line-height:47px;
    letter-spacing:2px;
    text-align: left;
    color: white;
    margin-bottom: 18px;
  }

  .form {
    display: flex;
    width: 100%;
    margin-bottom: 15px;

    .element {
      margin-right: 15px;
      background-color: rgba(76,96,133,.15);
      border: none;
      height: 50px;
      color: white;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0px;
      text-align: left;

      &::placeholder {
        color:#898c9a;
      }
    }
  }

  .card-container {
    border: 1px solid #4f5e7c;
    border-radius: 3px;
    width: 100%;
    min-height: 1000px;
    background-color: #2f3140;

    .top-flex {
      margin-top: 50px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 14px;
        color:#898c9a;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
      }
    }
  }
}

.search-container {
  display: flex;
  width: 25rem;
  align-items: center;
  margin-right: 15px;
  background-color: rgba(76,96,133,.15);
  border: none;
  height: 50px;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;

  .image {
    margin-left: 10px;
    max-width: 24px;
    max-height: 24px;
  }

  input[type=text] {
    margin-left:5px;
    border: none;
    background-color: transparent;
    &::placeholder {
      color:#898c9a;
    }
  }
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 50px;
  margin-right: 15px;
  background-color: rgba(76,96,133,.15);
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;

  .image {
    margin-left: 10px;
    max-width: 24px;
    max-height: 24px;
  }

  .input-text {
    background-color: transparent;
    border: none;
  }

  .select-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label {
      margin-left: 8px;
      width: 80%;
      font-size: 10px;
      color:#898c9a;
    }

    select {
      margin-left: 5px;
      width: 80%;
      margin-right: 5px;
      font-size: 14px;
      background-color: transparent;
      border: none;
      color: white;
    }
  }
}
