<div class="container">
  <span class="title">Condimentum consectetur</span>

  <!--Filters-->
  <div class="form">

    <!--Select a game-->
    <div class="select-container game">
      <div class="select-content">
        <img class="image" src="../../../assets/item-default.svg" alt="price.svg">
        <span>{{gameSelect}}</span>
      </div>

      <div class="select-box">
        <select name="games" id="games" (change)="onChangeFilter($event)">
          <option value="Select a game">Select a game</option>
          <option value="Game 1">Game 1</option>
          <option value="Game 2">Game 2</option>
          <option value="Game 3">Game 3</option>
        </select>
      </div>
    </div>

    <!--Search bar-->
    <div class="search-container">
      <img class="image" src="../../../assets/svg-search-icon-9.jpg" alt="search.jpg">
      <input type="text" name="search" id="search" placeholder="Search">
    </div>

    <!--Select Price-->
    <div class="select-container">

      <div class="select-content">
        <img class="image" src="../../../assets/item-bag.svg" alt="price.svg">
        <div class="description">
          <label>Price</label>
          <span>{{priceSelect}}</span>
        </div>
      </div>

      <select name="prices" id="prices" (change)="onChangeFilter($event)">
        <option value="All">All</option>
        <option value="Less than 100$">Less than 100$</option>
        <option value="Less than 500$">Less than 500$</option>
        <option value="More than 500$">More than 500$</option>
      </select>
    </div>

    <!--Select Item Type-->
    <div class="select-container">
      <div class="select-content">
        <img class="image" src="../../../assets/feather.svg" alt="feather.svg">
        <div class="description">
          <label>Item Type</label>
          <span>{{itemTypeSelect}}</span>
        </div>
      </div>
        <select name="item-types" id="item-types" (change)="onChangeFilter($event)">
          <option value="All">All</option>
          <option value="Type 1">Type 1</option>
          <option value="Type 2">Type 2</option>
          <option value="Type 3">Type 3</option>
        </select>
    </div>

    <!--Mobile versions of price and item type-->
    <div class="responsive-selects">
      <!--Select Price-->
      <div class="select-container">

        <div class="select-content">
          <img class="image" src="../../../assets/item-bag.svg" alt="price.svg">
          <div class="description">
            <label>Price</label>
            <span>{{priceSelect}}</span>
          </div>
        </div>

        <select name="prices" id="prices" (change)="onChangeFilter($event)">
          <option value="All">All</option>
          <option value="Less than 100$">Less than 100$</option>
          <option value="Less than 500$">Less than 500$</option>
          <option value="More than 500$">More than 500$</option>
        </select>
      </div>

      <!--Select Item Type-->
      <div class="select-container">
        <div class="select-content">
          <img class="image" src="../../../assets/feather.svg" alt="feather.svg">
          <div class="description">
            <label>Item Type</label>
            <span>{{itemTypeSelect}}</span>
          </div>
        </div>

        <select name="item-types" id="item-types" (change)="onChangeFilter($event)">
          <option value="All">All</option>
          <option value="Type 1">Type 1</option>
          <option value="Type 2">Type 2</option>
          <option value="Type 3">Type 3</option>
        </select>
      </div>
    </div>
  </div>

  <!--Cards container-->
  <div class="card-container">
    <!--Top content-->
    <div class="top-flex">
      <!--Showing-->
      <span class="showing">Showing 15 - from {{products.length}}</span>

      <!--Sorted By-->
      <div class="select-container">
        <div class="select-content">
          <img class="image" src="../../../assets/filter.svg" alt="filter.svg">
          <div class="description">
            <label>Sorted By</label>
            <span>{{sortedBySelect}}</span>
          </div>
        </div>

        <select name="sorted-by" id="sorted-by" id="sorted-by" (change)="onChangeFilter($event)">
          <option value="Featured">Featured</option>
          <option value="Criteria 1">Criteria 1</option>
          <option value="Criteria 2">Criteria 2</option>
          <option value="Criteria 3">Criteria 3</option>
        </select>
      </div>
    </div>

    <!--Card Grid-->
    <div class="card-grid">
      <ng-container *ngFor="let product of products">
        <app-card [isOnSale]="product"></app-card>
      </ng-container>
    </div>
  </div>


</div>
