.container {
  width: 90%;
  min-height: 100vh;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;


  .title {
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    font-weight: 700;
    line-height:47px;
    letter-spacing:2px;
    text-align: left;
    color: white;
    margin-bottom: 18px;
  }

  .form {
    display: flex;
    width: 100%;
    margin-bottom: 15px;

    @media screen and (max-width:1190px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .search-container {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 15px;
      }

      .select-container {
        display: none;
        width: 50%;

        &.game {
          display: flex;
          width: 100%;
          margin-right: 0px;
          margin-left: 0px;
          margin-bottom: 15px;
        }
      }

      .responsive-selects {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;

        .select-container {
          display: flex;
          margin-left: 0px;
          margin-right: 0px;
          width: 49%;
        }
      }
    }

    .element {
      margin-right: 15px;
      background-color: rgba(76,96,133,.15);
      border: none;
      height: 50px;
      color: white;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0px;
      text-align: left;

      &::placeholder {
        color:#898c9a;
      }
    }
  }

  .card-container {
    border: 1px solid #4f5e7c;
    border-radius: 3px;
    width: 100%;
    min-height: 1000px;
    margin-bottom: 80px;
    background-color: #2f3140;

    .top-flex {
      margin-top: 50px;
      width: 95.5%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 730px) {
        .showing {
          display: none;
        }

        .select-container {
          width: 100% !important;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .showing {
        font-size: 14px;
        color:#898c9a;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
      }

      .select-container {
        margin-right: 0px;
      }
    }

    .card-grid {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 40px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: auto;
      grid-row-gap: 15px;

      @media screen and (max-width: 1680px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media screen and (max-width: 1420px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 1070px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 730px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.search-container {
  display: flex;
  width: 50%;
  align-items: center;
  margin-right: 15px;
  background-color: rgba(76,96,133,.15);
  border: none;
  height: 50px;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;

  .image {
    margin-left: 10px;
    max-width: 24px;
    max-height: 24px;
  }

  input[type=text] {
    width: 93%;
    margin-left:5px;
    border: none;
    background-color: transparent;
    color:white;
    font-size: 18px;
    &::placeholder {
      color:#898c9a;
      font-size: 18px;
    }

    &:focus {
      outline: none;
    }
  }
}

.responsive-selects {
  display: none;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 50px;
  margin-right: 15px;
  background-color: rgba(76,96,133,.15);
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;

  &.game {
    min-width: 20%;

    @media screen and (max-width:1190px) {
      width: 100%;
    }
  }

  .image {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 24px;
    max-height: 24px;
  }

  .input-text {
    background-color: transparent;
    border: none;
  }

  label {
    margin-left: 8px;
    width: 80%;
    font-size: 10px;
    color:#898c9a;
  }

  select {
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: white;

    option {
      background-color: black;
    }

    &:focus {
      outline: none;
    }
  }

  .select-content {
    display: flex;
    align-items: center;
    width: 80%;

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      label {
        min-width: 3rem;
      }

      span {
        margin-top: 5px;
        margin-left: 10px;
      }
    }
  }
}
