
<div class="main-container">
  <!--Payment Methods-->
  <div class="payment-banner">

    <!--Visa-->
    <img class="first" src="../../../assets/visa.webp" alt="visa.webp">

    <!--Mastercard-->
    <img src="../../../assets/mastercard.webp" alt="mastercard.webp">
    <!--American Express-->
    <img src="../../../assets/amex.webp" alt="amex.webp">
    <!--Skrill-->
    <img src="../../../assets/skrill.webp" alt="skrill.webp">
    <!--Cryptocurrencies-->
    <img src="../../../assets/crypto.webp" alt="crypto.webp">
    <!--More-->
    <span>and 50+ more</span>
  </div>

  <div class="bottom">
    <!--Social Media-->
    <div class="social-media">
      <img src="../../../assets/facebook.svg" alt="facebook.svg">
      <img src="../../../assets/instagram.svg" alt="instagram.svg">
      <img src="../../../assets/twitter.svg" alt="twitter.svg">
      <img src="../../../assets/discord.svg" alt="discord.svg">
    </div>


    <!--Links Columns-->
    <div class="links-grid">
      <div class="element" [style.margin-top]="'0px'">
        <img src="../../../assets/chicks-logo-large.svg" alt="logo.svg">

        <span>support@chicksgold.com</span>
      </div>

      <div class="element">
        <span class="title">Chicks Gold</span>
        <a href="">Games</a>
        <a href="">About Us</a>
        <a href="">Blog</a>
        <a href="">Sitemap</a>
      </div>

      <div class="element">
        <span class="title">Support</span>
        <a href="">Contact Us</a>
        <a href="">FAQ</a>
      </div>

      <div class="element">
        <span class="title">Legal</span>
        <a href="">Privacy Policy</a>
        <a href="">Terms of Service</a>
        <a href="">Copyright Policy</a>
      </div>

      <div class="trustpilots">
        <img src="../../../assets/trust-pilot-5-star.svg" alt="5star.svg">
        <span>Trustpilots Reviews</span>
      </div>
    </div>
  </div>

  <!--Copyright-->
  <div class="copyright">
    © 2017 - 2022 Chicksgold.com. All Rights Reserved
  </div>
</div>
