
<div class="container">

  <!--Left-->
  <div class="side">

    <!--Logo-->
    <div class="mobile">
      <button type="button" (click)="activeHamburger()" [ngClass]="hamburgerActive? 'hamburger hamburger--collapse is-active':'hamburger hamburger--collapse'">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="logotest">
      <img src="../../../assets/chicks-logo-large.svg" alt="logo.png" width="150px" height="40px">
    </div>
    <div class="line"></div>

    <span class="option">CURRENCY <select name="currency" id="currency">
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
    </select></span>
    <span class="option">ITEMS <select name="items" id="items">
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
    </select></span>
    <span class="option">ACCOUNTS <select name="accounts" id="accounts">
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
    </select></span>
    <span class="option">SERVICES <select name="services" id="services">
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
    </select></span>
    <span class="option">SWAP <select name="swap" id="swap">
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
    </select></span>
    <span class="option">SELL <select name="sell" id="sell">
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
    </select></span>
  </div>

  <!--Right-->
  <div class="side">
    <span class="option" [style.margin-right]="'3.4rem'">USD <select name="usd" id="usd">
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
      <option value="dummy">dummy</option>
    </select></span>
    <span class="option" [style.width]="'100px'" [style.margin-right]="'0px'">
      <img class="cart" src="../../../assets/cartchicksgold.svg" alt="">
      CART (5)
    </span>
    <button class="signin-button">SIGN IN
      <img src="../../../assets/profile.webp" alt="">
    </button>
  </div>
</div>
<div class="hamburger-active" [style.display]="hamburgerActive? 'flex':'none'">
  <span class="option"><span>CURRENCY</span> <select name="currency" id="currency">
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
  </select></span>
  <span class="option"><span>ITEMS</span> <select name="items" id="items">
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
  </select></span>
  <span class="option"><span>ACCOUNTS</span> <select name="accounts" id="accounts">
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
  </select></span>
  <span class="option"><span>SERVICES</span> <select name="services" id="services">
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
  </select></span>
  <span class="option"><span>SWAP</span> <select name="swap" id="swap">
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
  </select></span>
  <span class="option"><span>SELL</span> <select name="sell" id="sell">
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
  </select></span>
  <span class="option"><span>USD</span> <select name="usd" id="usd">
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
    <option value="dummy">dummy</option>
  </select></span>
</div>
