
<div class="container">

  <!--Left-->
  <div class="side">

    <!--Logo-->
    <div class="logotest">
      <img src="../../../assets/chicks-logo-large.svg" alt="logo.png" width="150px" height="40px">
    </div>
    <div class="line"></div>
    <span class="option">CURRENCY <div class="arrow-down"></div></span>
    <span class="option">ITEMS <div class="arrow-down"></div></span>
    <span class="option">ACCOUNTS <div class="arrow-down"></div></span>
    <span class="option">SERVICES <div class="arrow-down"></div></span>
    <span class="option">SWAP <div class="arrow-down"></div></span>
    <span class="option">SELL <div class="arrow-down"></div></span>
  </div>

  <!--Right-->
  <div class="side">
    <span class="option" [style.margin-right]="'3.4rem'">USD <div class="arrow-down"></div></span>
    <span class="option">
      <img class="cart" src="../../../assets/cartchicksgold.svg" alt="">
      CART (5)
    </span>
    <button class="signin-button">SIGN IN
      <img src="../../../assets/profile.webp" alt="">
    </button>
  </div>
</div>
